In [3]:
import pandas as pd
import os
import math

In [4]:
train = pd.read_csv('/domino/datasets/local/Titanic/train.csv')

In [5]:
# find average age to fill blanks
avg_age = train['Age'].mean()
print(avg_age)

29.69911764705882

In [6]:
# function to turn gender strings to ints
def num_gender(string_gender):
    if string_gender == "female":
        return 0
    else:
        return 1
    
def embark_encode(embark):
    if embark == "S":
        return 0
    elif embark == "C":
        return 1
    elif embark == "Q":
        return 2
    else:
        return 3
    
def fill_age(age):
    if math.isnan(age):
        return 30.0
    else:
        return age

In [7]:
display(list(train.columns.values)) 

# convert gender to ints
gender = train.pop('Sex')
gender = gender.apply(num_gender)
train['Sex'] = gender

# convert embark to ints
em = train.pop('Embarked')
em = em.apply(embark_encode)
train['Embarked'] = em

# Fill blank ages with age average
age = train.pop('Age')
age = age.apply(fill_age)
train['Age'] = age

print(train)

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name  SibSp  Parch  \
0                              Braund, Mr. Owen Harris      1      0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...      1      0
2                               Heikkinen, Miss. Laina      0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)      1      0
4                             Allen, Mr. William Henry      0      0
..                                                 ...    ...    ...
886                              Montvila, Rev. Juozas      0      0
887                       Graham, Miss. Margaret Edith      0      0
888           Johnston, Miss. Catherine Helen "Carrie"      1      2
889                              Behr, Mr. Karl Howell      0      0
890                                Dooley, Mr. Patrick      0      0

               Ticket     Fare Cabin  Sex  Embarked   Age
0           A/5 21171   7.2500   NaN    1         0  22.0
1            PC 17599  71.2833   C85    0         1  38.0
2    STON/O2. 3101282   7.9250   NaN    0         0  26.0
3              113803  53.1000  C123    0         0  35.0
4              373450   8.0500   NaN    1         0  35.0
..                ...      ...   ...  ...       ...   ...
886            211536  13.0000   NaN    1         0  27.0
887            112053  30.0000   B42    0         0  19.0
888        W./C. 6607  23.4500   NaN    0         0  30.0
889            111369  30.0000  C148    1         1  26.0
890            370376   7.7500   NaN    1         2  32.0

[891 rows x 12 columns]

In [8]:
# move Survived to far right
y = train.pop('Survived')
train['Survived'] = y

# get rid of columns I don't want to deal with yet
train.pop('Ticket')
train.pop('Name')
train.pop('PassengerId')
train.pop('Cabin')

print(train)

     Pclass  SibSp  Parch     Fare  Sex  Embarked   Age  Survived
0         3      1      0   7.2500    1         0  22.0         0
1         1      1      0  71.2833    0         1  38.0         1
2         3      0      0   7.9250    0         0  26.0         1
3         1      1      0  53.1000    0         0  35.0         1
4         3      0      0   8.0500    1         0  35.0         0
..      ...    ...    ...      ...  ...       ...   ...       ...
886       2      0      0  13.0000    1         0  27.0         0
887       1      0      0  30.0000    0         0  19.0         1
888       3      1      2  23.4500    0         0  30.0         0
889       1      0      0  30.0000    1         1  26.0         1
890       3      0      0   7.7500    1         2  32.0         0

[891 rows x 8 columns]

In [9]:
# save back to dataset
train.to_csv("/domino/datasets/local/Titanic/processed_train.csv")
# # os.chdir('/data/titanic')
# os.system("cnvrg data put titanic/ .")